<!-- // includes the head.ejs file which is required for the HTML head tag -->
<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
</head>
<body>
    <!-- // includes the navigation.ejs file which cam be used for the navigation bar  -->
    <%- include('../includes/navigation.ejs') %>

    <main>
        
    </main>
    <!-- // includes the ejs file for the HTML ending tags -->
<%- include('../includes/end.ejs') %>