<!-- // includes the head.ejs file which is required for the HTML head tag -->
<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <!-- // includes the navigation.ejs file which cam be used for the navigation bar  -->
    <%- include('includes/navigation.ejs') %>
    <main>
        <!-- // checks if any contactus has been submitted -->
        <% if (prods.length > 0) { %>
            <div class="grid">
                <!-- // loops through the submitted contactus -->
                <% for (let contactus of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <!-- // prints the title of the contactus -->
                            <h1 class="product__title"><%= contactus.title %></h1>
                        </header>
                        <div class="card__image">
                        <div class="card__content">
                            <p class="product__description">Hi! Thank you so much for visiting our website! My name is DEEPAK, and I am here to assist you.</p>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <!-- // if there are no contactus, then this line prints an error message -->
            <h1>No userdata Found!</h1>
        <% } %>
    </main>
    <!-- // includes the ejs file for the HTML ending tags -->
<%- include('includes/end.ejs') %>