<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expenses-page</title>
</head>
<body>
    <div class="container">

        <form onsubmit="formData(event)">
            <label for="amount">Amount:</label>
            <input type="text" id="amount" name="amount" placeholder="Enter Amount">

            <label for="description">Description:</label>
            <input type="text" id="description" name="description" placeholder="Describe expense">

            <label for="category">Select Category:</label>
            <select name="category" id="category">
                <option value="Select"></option>
                <option value="Food">Food</option>
                <option value="Rent">RENT</option>
                <option value="Movie">Movie</option>
                <option value="Shopping">Shopping</option>
                <option value="other">other</option>
            </select>
            <button id="saveBtn">Add Expense</button>
            <ul id="listOfItems"></ul>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        window.addEventListener("DOMContentLoaded", async (data) => {
            axios.get(`http://localhost:3000/getdata`)
                .then((res) => {
                    for (var i = 0; i < res.data.length; i++) {
                        showUserOnScreen(res.data[i])
                    }
                })
        });

        async function formData(event) {
            event.preventDefault();
            try {
                const amount = event.target.amount.value;
                const description = event.target.description.value;
                const category = event.target.category.value;
                const obj = { amount, description, category };
                axios.post(`http://localhost:3000/postexpense`, obj)
                    .then(res => { showUserOnScreen(res.data.expenseData); })
            } catch (err) { console.log(err) }
        }

        async function showUserOnScreen(obj) {
            const ulTag = document.getElementById("listOfItems");
            const liTag = document.createElement("li");
            liTag.textContent = `${obj.amount} - ${obj.description} - ${obj.category} `;
            // create delete button
            const deleteButton = document.createElement("button");
            deleteButton.textContent = 'delete';

            deleteButton.onclick = (e) => deleteFunction(e, obj.id);

            function deleteFunction(e, obj_id) {
                const deletedObj = { obj_id }
                ulTag.removeChild(liTag);
                axios.post('/delete-expense', deletedObj)
            }
            liTag.appendChild(deleteButton);
            ulTag.appendChild(liTag);
        }
    </script>

</body>
</html>